.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 70vh;           
    margin: 0;               
}


.itemdetail {
    display: flex;
    align-items: center;     
    gap: 20px;               
    padding: 20px;           
}


.itemdetail img {
    width: 150px; 
    height: auto; 
}

.text-content {
    display: flex;
    flex-direction: column;  
}


h2 {
    margin: 0;
    font-size: 1.5rem;
}

p {
    margin: 5px 0 0;
    font-size: 1rem;
}
