


.itemdetail {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    text-align: center;
    align-items: center;     
    height: 70vh;           
    margin: 0;               
}


.itemdetail img {
    width: 200px; 
    height: 300px; 
    margin-right: 50px;
}

.text-content {
    width: 300px;
    
}


h2 {
    margin: 0;
    font-size: 1.5rem;
}

p {
    margin: 5px 0 0;
    font-size: 1rem;
}
